<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.4.6.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/init.css') }}">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/main">
        <img src="{{url_for('static',filename = 'logo.png')}}" width="70px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/main">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommenduniv">查大学</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommendmajor">查专业</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/filter">模拟报志愿</a>
            </li>
        </ul>
              <div style="display: flex;padding-right: 20px;">
                <div style="align-self: center;color:#ffffff;">
                  <a href="/login" style="color: #ffffff;">登录</a>
                  <a href="/register" style="color: #ffffff;">注册</a>
                </div>
              </div>ds
        <form class="d-flex" action="/search" method="post">
          <input class="form-control me-2" type="text" placeholder="查大学" name="searchkey">
          <button class="btn btn-primary" type="submit" >搜</button>
        </form>
      </div>
    </div>
  </nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>

</html>